<!-- Content -->
<section id="content">
<!-- Content Row -->
<section id="content">
			<!-- Content Row -->
			<section id="pricing" class="content-row content-row-color content-row-clouds content-row-full-height">
				<div class="container">
					<header class="content-header content-header-large content-header-uppercase">
						<h1>
							<mark>Advertise</mark> on HostServers.pro
						</h1>
						<p>
							Get more people's attention on your market! Start your advertisment on HostServers.pro!
						</p>
					</header>
					<div class="tab-group tab-group-switch-style">
						<div class="tab-item" data-title="Monthly">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Advertise small
											</h4>
										</div>
										<div class="product-price">
											€246<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>1</strong> - JPG - Advertisement banner (400x238)
												</li>
												<li>
													<strong>2 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (1)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most Popular
										</div>
										<div class="product-header">
											<h4>
												Advertise medium
											</h4>
										</div>
										<div class="product-price">
											€492<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>1</strong> - GIF - Advertisement banner (400x238)
												</li>
												<li>
													<strong>4 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (2)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
												<li>
													Dashboard
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Advertise big
											</h4>
										</div>
										<div class="product-price">
											€738<span class="term">/ month</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>1</strong> - GIF - Advertisement banner (400x238)
												</li>
												<li>
													<strong>4 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (2)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
												<li>
													Dashboard
												</li>
												<li>
													Client login
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-item" data-title="Yearly">
							<div class="column-row align-center-bottom">
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Advertise small
											</h4>
										</div>
										<div class="product-price">
											€2952<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>2</strong> - GIF - Advertisement banner (600x400)
												</li>
												<li>
													<strong>12 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (1)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box product-box-popular">
										<div class="product-popular">
											Most popular
										</div>
										<div class="product-header">
											<h4>
												Advertise medium
											</h4>
										</div>
										<div class="product-price">
											€5904<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>2</strong> - GIF - Advertisement banner (600x400)
												</li>
												<li>
													<strong>12 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (1)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
												<li>
													Dashboard
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
								<div class="column-33">
									<div class="product-box">
										<div class="product-header">
											<h4>
												Advertise big
											</h4>
										</div>
										<div class="product-price">
											€8856<span class="term">/ year</span>
										</div>
										<div class="product-features">
											<ul>
												<li>
													<strong>3</strong> - Iframe - Advertisement banner (600x400)
												</li>
												<li>
													<strong>24 MB</strong> Advertisement storage
												</li>
												<li>
													<strong>Selectable placements (6)</strong>
												</li>
											</ul>
											<ul>
												<li>
													Minecraft Servers
												</li>
												<li>
													Knowledge Base
												</li>
												<li>
													Service Status
												</li>
												<li>
													Speedtest
												</li>
												<li>
													Dashboard
												</li>
												<li>
													Client login
												</li>
											</ul>
										</div>
										<div class="product-order">
											Order at support@hostservers.pro
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Content Row -->
