<section id="content">
	<section class="content-row content-row-color content-row-border-top">
					<div class="content-slider animate-container-slide animate-background-fade" data-nav="true">
						<a class="slide">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Security</mark>
									</h1>
									<p>
										Our data centers have been designed to guarantee maximum reliability: redundancy of all sources of energy and cooling systems, maximum security for facilities, redundancy of network connections and the highest level of professionalism among our experts.
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="../img/datacenter/1.jpg" alt="">
							</div>
						</a>
						<a class="slide">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Backup</mark> Electricity
									</h1>
									<p>
										A backup diesel generator at a large computer data center, one of six in the room. Combined, they could provide enough power for a community of 7,000 homes.
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="../img/datacenter/2.jpg" alt="">
							</div>
						</a>
						<a class="slide">
							<div class="container text-align-center">
								<header class="content-header content-header-large content-header-uppercase">
									<h1>
										<mark>Performance</mark> / Power
									</h1>
									<p>
										To guarantee maximum resilience, we work with the best hardware and software providers in the world. DELL for our servers, EqualLogic and NetApp for our data storage, Cisco and Nexus for our network equipment just to name a few.
									</p>
								</header>
							</div>
							<div class="content-background content-background-light">
								<img src="../img/datacenter/3.jpg" alt="">
							</div>
						</a>
					</div>
				</section>


	<section class="content-row content-row-color content-row-border-top">
					<div class="content-slider animate-container-scale" data-nav-directional="true" data-rotation="5">
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-rocket icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												High Performance
											</h3>
											<p>
												We operate one of the most advanced 100 Gbit networks in the world, complete with Anycast support and extensive DDoS protection.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-cloud icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												Fully Redundant
											</h3>
											<p>
												Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy to keep your services online.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-shield-alt icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												Secure Infrastructure
											</h3>
											<p>
												All datacenters are Tier 4 certified and provide advanced fire and intrusion protection combined with enterprise networking hardware.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-sync-alt icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												Instant Activation
											</h3>
											<p>
												Your ordered product will be automatically and instantly activated as long as you are using a verified PayPal account for your purchase.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-life-ring icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												Dedicated Support
											</h3>
											<p>
												Our dedicated in-house support team is available 24/7 to answer all technical difficulties you may encounter with any of our products.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="container">
								<div class="column-row align-center">
									<div class="column-33 text-align-center">
										<i class="fas fa-cog icon-feature-large text-color-light"></i>
									</div>
									<div class="column-50">
										<header class="content-header content-header-large content-header-align-left">
											<h3>
												Powerful Automation
											</h3>
											<p>
												Our simple and intuitive developer API allows you to manage and extend existing products, as well as submitting new orders without interaction.
											</p>
										</header>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Content Row -->
