<!-- Content -->
<section id="content">
<!-- Content Row -->
<section class="content-row content-row-color content-row-clouds">
	<div class="container">
		<header class="content-header content-header-large content-header-uppercase">
			<h2>PAGE NOT <mark>FOUND</mark>
			</h2>
			<p>{{message}}<br><br>
				<a class="button button-secondary" href="{{menulink.[0]}}">BACK TO HOMEPAGE</a>
			</p>
		</header>
	</div>
</section>
</section>
