<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds content-row-full-height" style="height: 864px;">
				<div class="container">
					<header class="content-header content-header-large content-header-uppercase">
						<h1>
							Professi<img style="max-height: 45px;" src="/img/redstone_dust.png">nal<br>
							Minecraft Servers
						</h1>
						<p>
						  Biggest Minecraft Bedrock Edition server hosting, this is the best place to get your very own minecraft bedrock server!
						</p>
					</header>
					<div class="column-row align-center">
						<div class="column-40">

						</div>
					</div>
				</div>
				<div class="content-background content-background-light object-fit-height">
					<video src="../uploads/minecraft.mp4" autoplay="" loop="" muted=""></video>
				</div>
			</section>
			<!-- Content Row -->
      <section id="product-configurator" class="content-row">
        <div class="container">
          <div class="column-row">
            <div class="column-66">
              <h4>
                Bedrock Configurator
              </h4>
              <div class="product-configurator hide-segments" data-currency="$%">
                <form>
                  <div class="column-row">
                    <div class="column-50">
                      <div class="configurator-row">
                        <input type="hidden" name="cpu" value="2" data-step="1" data-min="1" data-max="8" data-price="8" data-title="x CPU Core" data-title-plural="x CPU Cores" data-description="Intel&reg; Processor">
                      </div>
                    </div>
                    <div class="column-50">
                      <div class="configurator-row">
                        <input type="hidden" name="memory" value="4" data-step="1" data-min="1" data-max="16" data-price="6" data-title=" GB Memory" data-description="ECC Technology">
                      </div>
                    </div>
                  </div>
                  <div class="column-row">
                    <div class="column-50">
                      <div class="configurator-row">
                        <input type="hidden" name="disk" value="100" data-step="50" data-min="50" data-max="750" data-price="4" data-title=" GB Storage" data-description="RAID 10 SSD">
                      </div>
                    </div>
                    <div class="column-50">
                      <div class="configurator-row">
                        <input type="hidden" name="bandwidth" value="2" data-step="1" data-min="1" data-max="12" data-price="6" data-title=" TB Bandwidth" data-description="1 Gbit Uplink">
                      </div>
                    </div>
                  </div>
                  <div class="configurator-order">
                    <div class="configurator-total">
                      <span class="value"></span>
                      <span class="label">Monthly</span>
                    </div>
                    <button class="button-secondary">
                      <i class="fas fa-shopping-cart icon-left"></i>Order Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="column-33">
              <h4>
                Backup storage
              </h4>
              <div class="product-configurator product-configurator-small hide-segments" data-currency="$%">
                <form>
                  <div class="configurator-row">
                    <input type="hidden" name="disk" value="750" data-step="50" data-min="250" data-max="5000" data-price="4" data-title=" GB Storage" data-description="Redundant SSD Storage">
                  </div>
                  <div class="configurator-row">
                    <input type="hidden" name="bandwidth" value="5" data-step="1" data-min="2" data-max="50" data-price="6" data-title=" TB Bandwidth" data-description="100 Gbit Global Network">
                  </div>
                  <div class="configurator-order">
                    <div class="configurator-total">
                      <span class="value"></span>
                      <span class="label">Monthly</span>
                    </div>
                    <button class="button-secondary">
                      <i class="fas fa-shopping-cart icon-left"></i>Order Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content-row">
				<div class="container">
					<h4>
						Extra features
					</h4>
					<table class="table-has-caption">
						<caption>
						  Installable features
						</caption>
						<thead>
							<tr>
								<th>Extension name</th>
							  <th>Extension image</th>
								<th>CPU needs</th>
								<th>RAM needs</th>
								<th>Disk needs</th>
								<th>Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody>





							<tr>
								<td class="has-responsive-th">Remote Console <a style="cursor: pointer;" data-modal-target="remote-console-info">(?)</a></td>
								<td class="has-responsive-th"><img style="max-height: 20%; width: auto;" src="/img/placeholder.png"></td>
								<td class="has-responsive-th">0.9 Ghz</td>
								<td class="has-responsive-th">0.1 GB</td>
								<td class="has-responsive-th">1.0 KB</td>
								<td class="highlight has-responsive-th"><span class="responsive-th">Price</span>Free</td>
								<td><a class="button button-secondary" href="#dedicated-server-1"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
							</tr>
              <div class="modal modal-small" data-modal="remote-console-info" data-modal-dismissible="true">


							<div class="modal-header">
									<h3>
										Remote Console
									</h3>
								<i class="material-icons modal-dismiss">close</i></div><div class="modal-content">
									<p>
										This extension allows you to connect to your server console without logging into your HostServers account. This extension is very useful because of it's flexibility and scalability.
									</p>
								</div></div>













                <tr>
                  <td class="has-responsive-th">File Manager<a style="cursor: pointer;" data-modal-target="file-manager-info"> (?)</a></td>
                  <td class="has-responsive-th"><img style="max-height: 20%; width: auto;" src="/img/placeholder.png"></td>
                  <td class="has-responsive-th">0.0 Ghz</td>
                  <td class="has-responsive-th">0.0 GB</td>
                  <td class="has-responsive-th">0.0 KB</td>
                  <td class="highlight has-responsive-th"><span class="responsive-th">Price</span>$1.99</td>
                  <td><a class="button button-secondary" href="#dedicated-server-1"><i class="fas fa-shopping-cart icon-left"></i>Order Now</a></td>
                </tr>
                <div class="modal modal-small" data-modal="file-manager-info" data-modal-dismissible="true">


                <div class="modal-header">
                    <h3>
                      File Manager
                    </h3>
                  <i class="material-icons modal-dismiss">close</i></div><div class="modal-content">
                    <p>
                      This extension makes possible to control your files without connecting to your FTP server with a foreign software.
                    </p>
                  </div></div>




						</tbody>
					</table>
				</div>
			</section>
