<!-- Content -->
<section id="content">
<!-- Content Row -->
<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h3>
								<i class="fas fa-wifi icon-feature-inline"></i>Speedtest at HostServers
							</h3>
							<p>
								Use our Speedtest system for free without any restrictions. We automatically find the nearest proxy with we can calculate your current internet speed. Calculation needs some time, you don't have to download any software to your device.
							</p>
							<p>
								<small class="text-color-gray">Would you like to get to know more about how it works? Click the link below to found out!</small>
							</p>
							<p>
								<div id="speedchecker_link">&nbsp;<a href="https://www.broadbandspeedchecker.co.uk">www.broadbandspeedchecker.co.uk<i class="fas fa-angle-right icon-right"></i></a></div>
							</p>
						</div>
						<div class="column-50">
							<div id="speedcheckerdiv"></div></div><script type="text/javascript">sc_skin='';sc_bgc='0x123456';sc_bc='0x000000';sc_hc='0xFFEA00';sc_cc='0xA600A6';sc_w=800;sc_h=300;sc_userid=75843844;sc_location='HU';version=3;var sc_script = document.createElement('script');sc_script.setAttribute('src', ((('https:' == document.location.protocol)? 'https' : 'http') + '://www.speedcheckercdn.com/speedchecker.js'));document.getElementsByTagName('head')[0].appendChild(sc_script);</script>
						</div>
					</div>
				</div>
			</section>
