<!-- Content -->
<section id="content">
	<section class="content-row content-row-color content-row-clouds">
					<div class="container">
						<header class="content-header content-header-small content-header-uppercase">
							<h1>
								Service Status
							</h1>
							<p>
								We continuously monitor our infrastructure and its related services.
							</p>
						</header>
						<div class="column-row align-center">
							<div class="column-66">
								<div class="tab-group tab-group-switch-style">
									<div class="tab-item" data-title="Primary Locations">
										<table class="table-layout-fixed">
											<thead>
												<tr>
													<th>Region</th>
													<th>Availability</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Australia HostServers Gmbh</td>
													<td>99.95%</td>
													<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
												</tr>
												<tr>
													<td>Germany HostServers Gmbh</td>
													<td>99.62%</td>
													<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="tab-item" data-title="Secondary Locations">
										<table class="table-layout-fixed">
											<thead>
												<tr>
													<th>Region</th>
													<th>Availability</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
													<tr>
														<td>Hungary HostServers Inc</td>
														<td>76.43%</td>
														<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
													</tr>
													<tr>
														<td>France HostServers Gmbh</td>
														<td>100%</td>
														<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
													</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="column-row align-center">
							<div class="column-50 text-align-center">
								<table class="table-layout-fixed">
									<thead>
										<tr>
											<th>Service</th>
											<th>Availability</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
											<tr>
												<td>DDoS protection</td>
												<td>100%</td>
												<td class="text-color-success">Operational<i class="fas fa-check-circle icon-right"></i></td>
											</tr>
									</tbody>
								</table>
								<p>
									<small class="text-color-gray">Status updates and incident reports may be delayed up to 30 minutes depending on the technical issue at hand. Please scroll down for past incident reports.</small>
								</p>
							</div>
						</div>
					</div>
				</section>
				<!-- Content Row -->
				<section class="content-row">
					<div class="container">
						<div class="column-row align-center">
							<div class="column-66">
								<h3>
									Active Incidents
								</h3>
								<hr>
								<dl>
									<dt>December 8, 2019</dt>
									<dd>
										<p>
											<strong>Germany HostServers Gmbh</strong><br>
											We are optimizing the network for the fastest services and lowest latencies. It might operate some service outages.
											Temporarily the system that we are working on is not avaliable for customer measures.
										</p>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</section>
				<!-- Content Row -->
				<section class="content-row content-row-gray">
					<div class="container">
						<div class="column-row align-center">
							<div class="column-66">
								<h3>
									Past Incidents
								</h3>
								<hr>
								<dl>
									<dt>
								<p>No information</p>
							</dt>
						</dl>
							</div>
						</div>
					</div>
				</section>
				<!-- Content Row -->
