<section id="content">
<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Terms and conditions
							</h3>
							<p>
								These terms of service govern your access to the HostServers.pro website and all other services offered by HostServers Pro Sweden AB ("HostServers.pro", "We" or "Us").

								We will never ask for your account password. Keep it safe and do not give your password to anyone you don't trust.

								We always try to deliver the best service possible but we cannot guarantee that the services offered are always available and/or working as intended.

								We take no responsibility or liability for any damages, direct or indirect, caused by the usage of any of the services offered by HostServers.pro.

								A cancellation or closure of your account will result in immediate inability to use any of the services offered by HostServers.pro, including but not limited to; the HostServers.pro website as well as all servers associated with your account.

								If any hacking, offensive or illegal activity is found we reserve the right to close your account.

								Any kind of chargeback or fund withdrawal will result in the associated account being closed.

								We reserve the right to proactively close any accounts that show behavior linked to or associated with fraud.

								If you are under the age of majority in your country you may only purchase any of the services or goods offered by HostServers.pro with the involvement of your parent or guardian. Make sure you review these Terms with your parent or guardian so that you both understand all of your rights and responsibilities.

								You may not resell any services or content offered by HostServers.pro.

								Purchases made with paypal or credit / debit cards can upon request be refunded within 72 hours of the transaction date.

								SMS (Mobile) and prepaid card payments are non refundable.

								All types of donations (i.e. purchases made to another user's account via the "server page") are non refundable.

								HostServers.pro is not affiliated with Minecraft, Mojang AB and/or Notch Development AB. All brands and trademarks belong to their respective owners.

								Your registration details may be passed to Paymentwall that provides payment processing services, in order for Paymentwall to better protect service and end-users from unauthorized payments.

								When making a purchase from HostServers.pro you certify that you are, at the time of the purchase, located in Hungary.

								The terms and conditions may be updated at any time so please ensure that you review it regularly as you will accept any variations if you continue to use any of the services offered by HostServers.pro.
							</p>
							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Minecraft
							</h3>
							<p>
								In order to rent a minecraft server you must agree to the Minecraft EULA ( https://account.mojang.com/documents/minecraft_eula ).
							</p>
							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Privacy Policy
							</h3>
							<p>
								We only use your information to enable you to use the services that HostServers.pro offer. We will not share or disclose your information.
							</p>
							<p>
								<small class="text-color-gray">Last modified: 2019-11-17 00:50 PM</small>
							</p>
						</div>
						<div class="column-50">
							<div class="grid-item">
														<div class="feature-box">
															<div class="feature-header">
																<div class="gallery gallery-slider">
																	<ul>
																		<li>
																			<a href="../img/datancenter/1.jpg"><img src="../img/datacenter/1.jpg" alt=""></a>
																		</li>
																		<li>
																			<a href="../img/datacenter/2.jpg"><img src="../img/datacenter/2.jpg" alt=""></a>
																		</li>
																		<li>
																			<a href="../img/datacenter/3.jpg"><img src="../img/datacenter/3.jpg" alt=""></a>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="feature-content">
																<h4>
																	Secure datacenter
																</h4>
																<p>
																	We don't let hackers steal your informations, we also operate with a 100 Gbit network with Anycast support and DDos protection.
																</p>
																<p>
																	<a href="/datacenter">See our datacenter<i class="fas fa-angle-right icon-right"></i></a>
																</p>
															</div>
														</div>
													</div>
													<div class="feature-box">
								<div class="feature-content">
									<h4>
										<i class="fas fa-cloud icon-feature-inline"></i>Integrate HostServers.pro to your server!
									</h4>
									<p>
										Our cloud platform offers a 99.99% SLA uptime guarantee with full hardware and network redundancy. Easy codes to integrate, check our api documentation!
									</p>
									<p>
										<a href="https://api.hostservers.pro" target="_blank">API documentation<i class="fas fa-angle-right icon-right"></i></a>
									</p>
								</div>
							</div>

							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Cookies
							</h3>
							<p>
								We only store cookie data that is essential for site operation.
							</p>
						</div>
					</div>
				</div>
			</section>
