<section id="content">
			<!-- Content Row -->
			<section class="content-row content-row-color content-row-clouds content-row-full-height" style="height: 864px;">
				<div class="container">
					<header class="content-header content-header-large content-header-uppercase">
						<h1>
							Login API
						</h1>
						<p>
						Validate your users by our API.
						</p>
					</header>
					<div class="column-row align-center">
						<div class="column-40">

						</div>
					</div>
				</div>
				<div class="content-background content-background-light object-fit-height">
					<video src="uploads/banner-user-onboarding.mp4" autoplay="" loop="" muted=""></video>
				</div>
			</section>
			<!-- Content Row -->
<section class="content-row content-row-gray">
				<div class="container">
					<div class="column-row">
						<div class="column-50">
							<h3>
								<i class="fas fa-plus-circle icon-feature-inline"></i>Login API Informations
							</h3>
							<p>
								Deploy HostServers login to your website and let your users access your website's user only content faster than ever before. You can store some informations from the login.
							</p>
							<p>
								<small class="text-color-gray">For security reasons we never share any other details from a user's account, neither for requests even.</small>
							</p>
						</div>
						<div class="column-50">
							<table class="table-has-caption">
								<caption>
									Informations we share
								</caption>
								<tbody>
									<tr>
										<td>Username</td>
										<td>{UsE_Nme}</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>{eML}</td>
									</tr>
									<tr>
										<td>Loyality Credits</td>
										<td>{lOCr}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>
